*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter', sans-serif;
}

body{
background:#E7D2BD;
color:#4B2E2B;
}


/* NAVBAR */

.navbar{
margin:20px;
padding:15px 40px;
border-radius:20px;
background:#E7D2BD;
box-shadow:0 8px 16px rgba(0,0,0,0.08);

display:flex;
justify-content:space-between;
align-items:center;
}


.logo{
background:#C2764F;
color:white;
padding:8px 18px;
border-radius:12px;
font-weight:600;
}

.profile{
font-weight:600;
}


/* CONTAINER */

.container{
padding:40px;
display:flex;
flex-direction:column;
align-items:center;
}

.back{
align-self:flex-start;
margin-left:80px;
margin-bottom:15px;
cursor:pointer;
}


h1{
font-size:28px;
font-weight:600;
margin-bottom:25px;
}


/* CARD */

.card{
background:#F8F1EB;
padding:35px;
border-radius:20px;
width:420px;

box-shadow:0 10px 18px rgba(0,0,0,0.08);
}


/* FORM */

.form-group{
display:flex;
flex-direction:column;
margin-bottom:18px;
}

label{
font-size:14px;
margin-bottom:6px;
}

input, textarea{
padding:10px;
border-radius:10px;
border:1px solid #ddd;
font-size:14px;
}

textarea{
resize:none;
height:80px;
}


/* BUTTON */

.confirm{
margin-top:15px;
width:100%;

background:#C2764F;
color:white;

border:none;
padding:12px;
border-radius:12px;

font-weight:600;
cursor:pointer;
}

.confirm:hover{
opacity:0.9;
}